body {
    background-color: azure;
    margin: 0;
}

#container {
    border: 1px black solid;
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carcasa {
    background-color: tomato;
    border: 1px black solid;
    width: 300px;
    height: 500px;
    border-radius: 20px 20px 40px 40px;
    box-shadow: 5px 5px 10px rgb(32, 193, 139);
}

.comp {
    margin: 0;
}

#screen {
    background-color: black;
    height: 250px;
    margin: 15px;
    border-radius: 15px 15px 20px 20px;

}

#pantalla {
    height: 220px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#logo {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#control {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#audio {
    height: 70px;
    display: flex;
    justify-content: center;
}

#letras {
    border-radius: 20px;
    color: rgb(189, 181, 181);
}

#power {
    height: 100%;
    width: 15%;
    background-color: black;
    justify-content: center;
    align-items: center;
}


#led {
    margin-top: 50px;
    margin-left: 17px;
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

p {
    color: rgb(189, 181, 181);
    font-size: x-small;
}

#imagen {
    height: 75%;
    width: 65%;
    background: linear-gradient( to right, grey 0%, grey 35%, white 100%);
}

#espacio {
    height: 100%;
    width: 15%;
    background-color: black;
}

#c {
    color: red;
}
#o1 {
    color: blueviolet;
}

#l {
    color: yellowgreen;
}

#o2 {
    color: yellow;
}

#r {
    color: royalblue;
}

.color {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tendo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nintendo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    width: 25%;
    border-radius: 20px;
    opacity: 30%;
}

#flechas {
    width: 90px;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 20px;
    background-color: rgb(222, 62, 34);
    border-radius: 30%;
}

#izquierda {
    grid-column: 1/2;
    grid-row: 2/2;
    width: 100%;
    height: 100%;
}

#arriba {
    grid-column: 2/3;
    grid-row: 2/1;
    width: 100%;
    height: 100%;
}

#medio {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    background-color: black;
}

#abajo {
    grid-column: 2/3;
    grid-row: 3/3;
}

#derecha {
    grid-column: 3/4;
    grid-row: 2/3;
}

.bot-flechas {
    background-color: black;
    color: grey;
    width: 100%;
    height: 100%;
}

#botones {
    width: 140px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);
    border-radius: 50px;
    background-color: rgb(222, 62, 34);
}

.bot-derechos {
    width: 120px;
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-30deg);
    border: 1px solid rgb(108, 32, 18);
    border-radius: 20px;
    padding: 1px;
}

#bot-izq, #bot-der {
    background-color: black;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 100%;
    transform: rotate(30deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(189, 181, 181);
}

#start {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#bot-select {
    grid-column: 2/3;
    grid-row: 1/2;
}

#bot-start {
    grid-column: 3/4;
    grid-row: 1/2;
}

#div-select {
    grid-column: 2/4;
    grid-row: 2/3;
    width: 70px;
    height: 35px;
    opacity: 30%;
    font-size: small;
}

#div-start {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 70px;
    height: 35px;
    opacity: 30%;
    font-size: small;
}

.bot-ultimo {
    background-color: black;
    border-radius: 20%;
    width: 35px;
    height: 15px;
}

#altavoz {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-40deg);
    background-color: rgb(222, 62, 34);
    border-radius: 40%;
}

.audio2 {
    background-color: black;
    border: 1px solid white;
    width: 10px;
    height: 45px;
    margin: 5px;
    border-radius: 20px;
    opacity: 54%;
}